@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

body {

}

main {

}

header {
    text-align: center;
}

nav{
    background-color: #0D0D0D;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
}

nav a:hover {
    color:rgb(87, 181, 101)
}

img {
    height: auto;
    width: 49%;
}

  p {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
  }