@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

main {
    background-color: #1D591B;
    color: white;
    padding: 15px;
}

header {
    text-align: center;
}

nav{
    background-color: #0D0D0D;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
}

nav a:hover {
    color:rgb(87, 181, 101)
}

img {
    height: auto;
    width: 49%;
}

footer {
    background-color: #0D0D0D;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer p {
    color: white;
}

.tinytext {
    font-size: 20px;
}

h3 {
    text-decoration: underline;
}

.smalltext {
    font-size: 25px;
}

.largetext {
    font-size: 30px;
}

aside img {
    height: auto;
    width: 33%;
}

footer p {
    font-size: 20px;
}